<% if user_signed_in? %>
<br/><%= link_to "Crear un post", new_post_path(@current_user), class: "btn btn-info btn-lg float-right" %>
<div class="jumbotron text-center">
 <h2>¡Bienvenidos a Instagram!</h2>
 <div class="main-wrapper">
   <div class="row">
     <% @posts.each do |post| %>
       <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="image center-block">
           <%= link_to post.description, post_path(post) %>
         </div>
       </div>
     <% end %>
   </div>
 </div>
 <% else %>
   <h2>¡Bienvenidos a Instagram!</h2>
   <p>
     <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-default btn-lg" %>
     <%= link_to "Regístrate", new_user_registration_path, class: "btn btn-primary btn-lg" %>
   </p>
  <% end %>
</div>
