<div class="nested-fields">
  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, User.all.collect {|x| [x.name, x.id]}, :include_blank => false %>
  </div>
  <div class="field">
    <%= f.label :rol %>
    <%= f.select :rol, Comment::ROLES.map {|k,v| [k,v]}, :include_blank => false %>
    <%= link_to_remove_association "remove comment", f %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
    <%= link_to_remove_association "remove comment", f %>
  </div>
</div>
