<%= form_with(model: post, local: true) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div id="comments">
    <%= f.simple_fields_for :comments do |comment| %>
      <%= render 'comment_fields', f: comment %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add comment', f, :comments %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
