<div class="posts-wrapper">
  <div class="post">
    <div class="image center-block">
      <%= image_tag @post.squared_img, class:'img-responsive' %>
    </div>
    <div class="post-bottom">
      <div class="description">
        <div class="user-name">
          <%= @post.user.name if @post.user %>
        </div>
        <%= @post.description %>
      </div>
      <% if @post.comments %>
        <% @post.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
              <%= comment.user.name %>
            </div>
            <div class="comment-content">
              <% if comment.user == current_user %>
                <%= link_to edit_post_comment_path(@post,comment), method: :get do %>
                  <%= comment.content %>
                <% end %>
              <% else %>
                <%= comment.content %>
              <% end %>
            </div>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "¿Estás segura?" } do %>
                <span class="glyphicon glyphicon-remove delete-comment">x</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center edit-links">
  <%= link_to "← Volver", posts_path %>
  |
  <% if @post.user == current_user %>
    <%= link_to "Editar Post", edit_post_path(@post) %>
  <% end %>
</div>
