<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <%#linkt "nombre a mostrar",ruta, clase-%>
    <%= link_to "Instagram", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Quiénes somos", about_path, class: "nav-link" %>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Mi cuenta", edit_user_registration_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Cerrar sesión", destroy_user_session_path, class: "nav-link", method: :delete %>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to "Regístrate", new_user_registration_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %>
    </li>
    <% end %>
  </ul>
    </div>
  </div>
</nav>
